html {
  height: 100%;
  width: 100%;
}
body {
  min-height: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.drawing-canvas svg {
  width: 100%;
  height: 100%;
  position: absolute;
}

.palette-item {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.editor {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.palette {
  order: 0;
  flex: 0 1 auto;
  align-self: stretch;
  border-right: 1px solid black;
  background-color: darkslategray;
  padding: 5px;
  width: 100px;
}

.drawing-canvas {
  order: 0;
  flex: 1 0 auto;
  align-self: stretch;
  overflow: hidden;
}